[build]
builder = "NIXPACKS"
buildCommand = "npx prisma generate && npm run build"

[build.nixpacksOptions]
nixPkgs = ["nodejs_20"]

[deploy]
startCommand = "npx prisma db push --accept-data-loss && npm start"
healthcheckPath = "/"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
